node_modules/
node/
dist/
target/
*.sublime-*
npm-debug.log
package-lock.json
coverage/
web/client/libs/Cesium/
web/cesium.zip
web/.classpath
web/.project
.idea
*.iml
_site
.sass-cache
.jekyll-metadata
*.lock
docs/developer-guide/reference/
web/client/mapstore/docs/
web/docs
.classpath
.project
.settings/
debug.log
.vscode/settings.json
site
.DS_Store
venv
__pycache__

# Environment variables with sensitive information
.env
*.env
**/env/*.env

# Logs del orchestrator
*.log
**/logs/*.log


# clave de firebase de los sensores
estacion-alertas-tempranas-firebase-adminsdk-fbsvc-0bb37ba309.json

# Credenciales de acceso a la base de datos del datalake
static/datalake/cred/*
